= link_to "Add Medication", new_medication_path
%ul
  - @medications.each do |medication|
    %li
      = medication.name
      = medication.dosage
      = medication.frequency
      = link_to "Edit", edit_medication_path(medication)
      = link_to "Delete", medication_path(medication), method: :delete