<h2>Hospital Patient Tracker</h2>

<h3>List of Facilities</h3>

<h4><%= link_to "Add New Facility", new_facility_path %></h4>

<ul>
  <% @facilities.each do |facility| %>
      <li>
        <p>
          <%= facility.name %>
        </p>
        <%= link_to "View Patient List", facility_path(facility) %>
        <%= link_to "Edit Facility", edit_facility_path(facility) %>
        <%= link_to "Delete Facility", facility, method: :delete, data: { confirm: 'Are you sure?' } %>
        <br>
      </li>
  <% end %>

</ul>