= title "Facilities"
.row
  .large-3.column
    %ul.side-nav
      %li
        = link_to "Add New Facility", new_facility_path
      %li
        = link_to "Add New Patient", new_patient_path
      %li
        = link_to "Add New Medication", new_medication_path
  .large-9.column
    - @facilities.each do |facility|
      .large-6.columns.end
        .small-12.columns
          %img{:src => "http://placehold.it/400x300&text=#{facility.name}", :alt => ""}/
        .small-12.columns
          = link_to "View", facility_path(facility), class: "button small secondary radius expand"
        .small-6.columns
          = link_to "Edit", edit_facility_path(facility), class: "button small radius expand"
        .small-6.columns
          = link_to "Delete", facility, method: :delete, data: { confirm: 'Are you sure?'}, class: "button small radius expand alert"
        %br/