= title "Facilities"

.search-heading
  %a.button{:href => new_facility_path}
    Add Facility
  %form.search-bar{:role => "search"}
    %input{:placeholder => "Enter Search", :type => "search"}/
    %button{:type => "submit"}
      %img{:alt => "Search Icon", :src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/search-icon.png"}/

.flex-boxes
  - @facilities.each do |facility|
    .flex-box
      %a{:href => facility_path(facility)}
        %img{:src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_2_dark.png", :alt => ""}/
        %h1.flex-title 
          #{facility.name}
      .links
        = link_to "View", facility_path(facility), :class => "link-button"
        = link_to "Edit", edit_facility_path(facility), :class => "link-button"
        = link_to "Delete", facility, method: :delete, data: { confirm: 'Are you sure?'}, :class => "link-button"
  %a.flex-box{:href => new_facility_path}
    %img{:src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_2_dark.png", :alt => ""}/
    %h1.flex-title Add Facility
