.side-image
  .side-image-content
    %h4 
      = @facility.name 
    %p
      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    %button
      = link_to "Add New Patient", new_patient_path
    %button 
      = link_to "Back to Facility List", facilities_path
.list-header
  %h2
    Patient List

.grid-items-lines
  - @patients.each do |patient|
    .grid-item{:href => "javascript:void(0)"}
      %a{:href => patient_path(patient)} 
        %img{:alt => "", :src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1_dark.png"}/
        %h1 
          = patient.first_name 
          = patient.last_name
        %p 
          Symptoms:
          = patient.symptoms
      .links
        = link_to "View", patient_path(patient), :class => "link-button"
        = link_to "Edit", edit_patient_path(patient), :class => "link-button"
        = link_to "Delete", patient, method: :delete, data: { confirm: 'Are you sure?'}, :class => "link-button"
  .right-cover
  .bottom-cover
