.row
  .large-3.column
    %ul.side-nav
      %li
        = link_to "Back to Facility List", facilities_path
      %li
        = link_to "Add New Facility", new_facility_path
      %li
        = link_to "Add New Patient", new_patient_path
      %li
        = link_to "Add New Medication", new_medication_path
  .large-9.column
    %h4
      = @facility.name

    %br
    .small-12.column.panel
      %h4
        Patient List

      %ul.list-group
        - @patients.each do |patient| 
          %li.list-group-item
            = link_to "#{patient.first_name} #{patient.last_name}", patient_path(patient) 
            = link_to "Edit", edit_patient_path(patient), class: "button tiny right"
    = link_to 'Add Patient', new_patient_path(@facility), class: "button small"

    %hr
