= title "#{@facility.name}"
.side-image
  .side-image-content
    %h4 
      = @facility.name 
    %p
      = @facility.description
    .button-container  
      .nav-button  
        = link_to "Edit Facility", edit_facility_path(@facility), class: "button"
      .nav-button
        = link_to "Add New Patient", new_patient_path, class: "button"
      .nav-button  
        = link_to "Back to Facility List", facilities_path, class: "button"
.list-header
  %h2
    Patient List

.grid-items-lines
  - @patients.each do |patient|
    .grid-item{:class => "#{patient.workflow_state}"}
      %a{:href => patient_path(patient)} 
        = display_patient_icon(patient)
        %h1 
          = patient.first_name 
          = patient.last_name
        %p 
          Symptoms:
          = patient.symptoms
      .links
        = link_to "View", patient_path(patient), :class => "link-button"
        = link_to "Edit", edit_patient_path(patient), :class => "link-button"
        = link_to "Delete", patient, method: :delete, data: { confirm: 'Are you sure?'}, :class => "link-button"
  .right-cover
  .bottom-cover
