- title "Home"
.row
  .large-12.columns
    #slider
      = image_tag "PhysicianPicture.jpg"
    %hr/
    
.row
  .large-4.columns
    %a{:href => facilities_path}
      = image_tag "hospital-image.jpg"
    %h4.text-center World Class Facilities.
    %p 
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam dolores, doloremque accusantium tempore facilis dolorum, enim ratione expedita optio saepe cum beatae nesciunt unde placeat fugiat nam distinctio repellat sunt.
      = link_to "Learn More", facilities_path

  .large-4.columns
    %a{:href => patients_path}
      = image_tag "patient-image.jpg"
    %h4.text-center Patients
    %p 
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam dolores, doloremque accusantium tempore facilis dolorum, enim ratione expedita optio saepe cum beatae nesciunt unde placeat fugiat nam distinctio repellat sunt.
      = link_to "Learn More", patients_path
  
  .large-4.columns
    %a{:href => medications_path}
      = image_tag "doctor-image.jpg"
    %h4.text-center Medications
    %p 
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam dolores, doloremque accusantium tempore facilis dolorum, enim ratione expedita optio saepe cum beatae nesciunt unde placeat fugiat nam distinctio repellat sunt.
      = link_to "Learn More", medications_path

.row
  .large-12.columns
    .panel
      %h4 Get in touch!
      .row
        .large-9.columns
          %p We'd love to hear from you, you attractive person you.
        .large-3.columns
          %a.radius.button.right{:href => "#"} Contact Us
      