= form_for [@facility, @patient] do |f|
  - if @patient.errors.any? 
    - @patient.errors.full_messages.each do |message| 
      = message 
      %br
  
  = f.label :first_name, "First Name"
  = f.text_field :first_name
  
  = f.label :last_name, "Last Name"
  = f.text_field :last_name
  
  = f.label :dob, "Date of Birth"
  = f.date_select :dob, {start_year: 1920, order:[:month, :day, :year]}, {class: "small-4 column"}

  = f.label :gender, "Gender"
  .radio
    = f.radio_button :gender, "Male", :checked => true
    = label :gender_male, "Male"
    = f.radio_button :gender, "Female"
    = label :gender_female, "Female"

  = f.label :blood_type, "Blood Type"
  = f.select :blood_type, options_for_select(Patient::BT_OPTIONS, f.object.blood_type), include_blank: "--- Select ---"
  
  = f.label :symptoms, "Symptoms"
  = f.text_area :symptoms
  
  .lists
    .medication-list
      %p Patient Medications
      = hidden_field_tag 'patient[medication_ids][]', ''
      - @medications.each do |medication|
        .medication
          = check_box_tag 'patient[medication_ids][]', medication.id, @patient.medications.include?(medication)
          = medication.name

    .facility-list
      %p Facilities Visited:
      = hidden_field_tag 'patient[facility_ids][]', ''
      - @facilities.each do |facility|
        .facility
          = check_box_tag 'patient[facility_ids][]', facility.id, @patient.facilities.include?(facility)
          = facility.name

  = f.submit class: "button"