=title "#{@patient.first_name} #{@patient.last_name}'s Detail"
%article.type-system-rounded
  .patient-details-container
    %h1 
      Patient Record Detail
    %p.type= @patient.workflow_state
    .patient-details
      %p.date
        %strong Last Updated: 
        = Date.parse(@patient.updated_at.to_s).strftime("%m/%d/%Y")
      %hr/
      %p
        %strong Date of Birth:
        = Date.parse(@patient.dob.to_s).strftime("%m/%d/%Y") 
      %p
        %strong Gender:
        = @patient.gender

        %p
          %strong Symptoms:
          = @patient.symptoms

        %p
          %strong Blood Type:
          = @patient.blood_type
    .workflow-links
      = display_workflow_links(@patient)
  %hr/

  %h4 
    Medications

    %table
      %thead
        %tr
          %th Name
          %th Dosage
          %th Frequency
      %tbody
        - @medications.each do |medication|
          %tr
            %td
              = medication.name
            %td
              = medication.dosage
            %td
              = medication.frequency
    %p
      %strong
        = succeed ':' do
          = "Doctor".pluralize(@patient.doctors.length)
      %br/
      - @patient.doctors.each do |doctor|
        = doctor.name
        %br/

      = form_for @doctor, url: create_doctor_patient_path(@patient) do |f|
        = f.label :name, "Add Doctor:"
        = f.text_field :name, {:placeholder => "Enter name"}
  
    = link_to "Back to Patient List", patients_path, class: "button"
    = link_to 'Edit Details', edit_patient_path(@patient), class: "button"
