=title "#{@patient.first_name} #{@patient.last_name}'s Detail"
%row
  .small-9.small-offset-3
    %h4 Patient Record Detail
    
    .panel.radius
      %p
        %strong Name:
        = @patient.first_name 
        = @patient.last_name 
  
      %p
        %strong Date of Birth:
        = Date.parse(@patient.dob.to_s).strftime("%m/%d/%Y") 
    
      %p
        %strong Symptoms:
        = @patient.symptoms
    
      %p
        %strong Gender:
        = @patient.gender
    
      %p
        %strong Blood Type:
        = @patient.blood_type
    
      %hr/
    
      %h3 Patient Details
      
      %h4 Medications

      %table
        %thead
          %tr
            %th{width: 230} Name
            %th{width: 230} Dosage
            %th{width: 230} Frequency
        %tbody
          - @medications.each do |medication|
            %tr
              %td
                = medication.name
              %td
                = medication.dosage
              %td
                = medication.frequency

      %hr/
      %h4 Doctor Information

      %p
        %strong Doctor:
        - @patient.doctors.each do |doctor|
          = doctor.name

      = form_for @doctor, url: create_doctor_patient_path(@patient) do |f|
        = f.label :name, "Doctor's Name"
        = f.text_field :name

        %br/
        = f.submit "Submit Doctor", class: "button small radius right"
      %hr/
      .row.text-right
        .small-12.column
          = link_to "Back to Patient List", patients_path, class: "button small radius"
          = link_to 'Edit Details', edit_patient_path(@patient), class: "button small radius"
