<h2>Patient Record Detail</h2>

<%= link_to "Back to Patient List", facility_path(@facility)  %>
<br>

<p>
  <strong>Name:</strong>
  <%= @patient.first_name %>
  <%= @patient.last_name %>
</p>

<p>
  <strong>Date of Birth:</strong>
  <%= Date.parse(@patient.dob.to_s).strftime("%m/%d/%Y") %>
</p>

<p>
  <strong>Symptoms:</strong>
  <%= @patient.symptoms %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @patient.gender %>
</p>

<p>
  <strong>Blood Type:</strong>
  <%= @patient.blood_type %>
</p>

<%= link_to 'Edit Details', edit_patient_path(@patient) %>

<hr>

<h3>Patient Medications</h3>

<%= link_to "Add Medication", new_patient_medication_path(@patient) %>
<%= link_to "View/Edit Medications", patient_medications_path(@patient) %>
  <ul>
    <% @medications.each do |medication| %>
      <li>
        <%= medication.name %>
        <%= medication.dosage %>
        <%= medication.frequency %>
      </li>
    <% end %>
  </ul>
