!!! 5
%html{ :lang => "en"}
  %head
    %meta{ :charset => "utf-8" }

    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }

    %title= content_for?(:title) ? yield(:title) : "Untitled"
    %link{:href => "//fonts.googleapis.com/css?family=Nunito:400,700,300", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "//fonts.googleapis.com/css?family=Varela+Round", :rel => "stylesheet", :type => "text/css"}/

    = stylesheet_link_tag "application"
    = javascript_include_tag "application", 'data-turbolinks-track' => true
    = csrf_meta_tag

  %body
    %header.navigation{:role => "banner"}
      .navigation-wrapper
        %a.logo{:href => root_path}
          = image_tag "icons/heart-icon.png"
        %nav{:role => "navigation"}
          %ul
            %li.nav-link
              = link_to "Facilities", facilities_path
            %li.nav-link
              %a{:href => patients_path} Patients
            %li.nav-link
              %a{:href => medications_path} Medications
    = yield
        
    %footer.footer-2{:role => "contentinfo"}
      .footer-logo
        = image_tag "icons/heart-icon.png"
      %ul
        %li
          %a{:href => "javascript:void(0)"} About
        %li
          %a{:href => "javascript:void(0)"} Contact
        %li
          %a{:href => "javascript:void(0)"} Products
      .footer-secondary-links
        %ul
          %li
            %a{:href => "javascript:void(0)"} Terms and Conditions
          %li
            %a{:href => "javascript:void(0)"} Privacy Policy
        %ul.footer-social
          %li
            %a{:href => "javascript:void(0)"}
              %img{:alt => "Facebook", :src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/facebook-logo-circle.png"}/
          %li
            %a{:href => "javascript:void(0)"}
              %img{:alt => "Twitter", :src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/twitter-logo-circle.png"}/
          %li
            %a{:href => "javascript:void(0)"}
              %img{:alt => "YouTube", :src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/youtube-logo-circle.png"}/