!!! 5
%html{ :lang => "en"}
  %head
    %meta{ :charset => "utf-8" }

    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }

    %title= content_for?(:title) ? yield(:title) : "Untitled"

    = stylesheet_link_tag "application"
    = javascript_include_tag "application", 'data-turbolinks-track' => true
    = csrf_meta_tag

  %body
    %header.navigation{:role => "banner"}
      .navigation-wrapper
        %a.logo{:href => root_path}
          %img{:alt => "Logo Image", :src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png"}/
        %a#js-mobile-menu.navigation-menu-button{:href => "javascript:void(0)"} MENU
        %nav{:role => "navigation"}
          %ul#js-navigation-menu.navigation-menu.show
            %li.nav-link
              %a{:href => facilities_path} Facilities
            %li.nav-link
              %a{:href => patients_path} Patients
            %li.nav-link
              %a{:href => medications_path} Medications
    = yield